.block-banner-main {

    .swiper-container {

        .swiper-wrapper {

            .swiper-slide {
                text-align: center;
                background-color: #FFF;
                background-size: 1px 1px, cover;
                background-position: top left, center center;
                background-repeat: repeat, no-repeat;

                .container {
                    min-height: 687px;
                    padding-top: 30px;
                    padding-bottom: 30px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    // Breakpoints
                    @include respond-to($phone) {
                        min-height: 300px;
                    }

                    @include respond-to($phone-tablet) {
                        min-height: 400px;
                    }

                    @include respond-to($tablet-medium) {
                        min-height: 600px;
                    }

                    p {
                        text-transform: uppercase;
                        line-height: 39px;
                        font-weight: 300;
                        font-size: 32px;
                        color: #FFF;
                    }
                }
            }
        }

        .swiper-button-prev {
            width: 32px;
            height: 32px;
            top: 47%;
            left: 40px;
            position: absolute;
            background: transparent url('../img/swiper-button-prev.png') center center / 32px 32px no-repeat;
            cursor: pointer;
            z-index: 1;

            // Breakpoints
            @include respond-to($phone) {
                display: none;
            }

            @include respond-to($phone-tablet) {
                display: none;
            }
        }

        .swiper-button-next {
            width: 32px;
            height: 32px;
            top: 47%;
            left: auto;
            right: 40px;
            position: absolute;
            background: transparent url('../img/swiper-button-next.png') center center / 32px 32px no-repeat;
            cursor: pointer;
            z-index: 1;

            // Breakpoints
            @include respond-to($phone) {
                display: none;
            }

            @include respond-to($phone-tablet) {
                display: none;
            }
        }
    }
}