header {
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 9999;

    .navbar {
        padding-top: 37px;
        background-color: transparent !important;

        // Breakpoints
        @include respond-to($phone) {
            padding-top: 15px;
        }

        @include respond-to($phone-tablet) {
            padding-top: 15px;
        }

        @include respond-to($tablet-medium) {
            padding-top: 15px;
        }

        @include respond-to($medium-large) {
            padding-top: 15px;
        }

        .navbar-toggler {
            background-color: #FFF;
        }

        .nav {

            // Breakpoints
            @include respond-to($phone) {
                width: 100%;
                margin-bottom: 10px;
            }

            @include respond-to($phone-tablet) {
                width: 100%;
                margin-bottom: 10px;
            }

            .nav-item {

                // Breakpoints
                @include respond-to($phone) {
                    width: 100%;
                }

                @include respond-to($phone-tablet) {
                    width: 100%;
                }

                .nav-link {
                    margin-right: 30px;
                    line-height: 24px;
                    font-weight: 400;
                    font-size: 14px;
                    color: $color-primary;
                    padding-left: 50px;
                    background-color: transparent;
                    background-size: 16px auto;
                    background-position: left center;
                    background-repeat: no-repeat;

                    // Breakpoints
                    @include respond-to($phone) {
                        margin-right: 0px;
                        padding: 0px 0px 0px 30px;
                    }

                    @include respond-to($phone-tablet) {
                        margin-right: 0px;
                        padding: 0px 0px 0px 30px;
                    }

                    @include respond-to($tablet-medium) {
                        margin-right: 0px;
                        padding: 0px 0px 0px 30px;
                    }

                    @include respond-to($medium-large) {
                        margin-right: 0px;
                        padding: 0px 0px 0px 30px;
                    }

                    @include respond-to($large-extra) {
                        margin-right: 0px;
                        padding: 0px 0px 0px 30px;
                    }

                    &.icon-phone {
                        background-image: url('../img/icon-whatsapp.png');
                    }

                    &.icon-email {
                        background-image: url('../img/icon-email.png');
                    }
                }

                &:last-child {

                    .nav-link {
                        margin-right: 0px;
                    }
                }
            }
        }

        .navbar-collapse {

            // Breakpoints
            @include respond-to($phone) {
                padding: 15px;
                margin-top: 15px;
                background-color: #FFF;
            }

            @include respond-to($phone-tablet) {
                padding: 15px;
                margin-top: 15px;
                background-color: #FFF;
            }

            @include respond-to($tablet-medium) {
                padding: 15px;
                margin-top: 15px;
                background-color: #FFF;
            }

            @include respond-to($medium-large) {
                padding: 15px;
                margin-top: 15px;
                background-color: #FFF;
            }

            .navbar-nav {

                .nav-item {
                    margin-right: 50px;

                    // Breakpoints
                    @include respond-to($phone) {
                        margin-right: 0px;
                    }

                    @include respond-to($phone-tablet) {
                        margin-right: 0px;
                    }

                    @include respond-to($tablet-medium) {
                        margin-right: 0px;
                    }

                    @include respond-to($medium-large) {
                        margin-right: 0px;
                    }

                    @include respond-to($large-extra) {
                        margin-right: 30px;
                    }

                    .nav-link {
                        padding: 0px;
                        text-transform: uppercase;
                        line-height: 24px;
                        font-weight: 700;
                        font-size: 15px;
                        color: $color-primary;

                        // Breakpoints
                        @include respond-to($phone) {
                            margin-bottom: 10px;
                        }

                        @include respond-to($phone-tablet) {
                            margin-bottom: 10px;
                        }

                        @include respond-to($tablet-medium) {
                            margin-bottom: 10px;
                        }

                        @include respond-to($medium-large) {
                            margin-bottom: 10px;
                        }

                        span {
                            line-height: 24px;
                            font-weight: 700;
                            font-size: 15px;
                            color: $color-primary;
                        }

                        &:hover,
                        &.active {
                            color: $color-secondary;

                            span {
                                color: $color-primary;
                            }
                        }
                    }

                    &:last-child {
                        margin-right: 0px;
                    }


                    &:last-child {

                        // Breakpoints
                        @include respond-to($phone) {

                            .nav-link {
                                margin-bottom: 0px;
                            }
                        }

                        @include respond-to($phone-tablet) {

                            .nav-link {
                                margin-bottom: 0px;
                            }
                        }

                        @include respond-to($tablet-medium) {

                            .nav-link {
                                margin-bottom: 0px;
                            }
                        }

                        @include respond-to($medium-large) {

                            .nav-link {
                                margin-bottom: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
}